<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_entity_attribute_save_after">
        <observer name="LupaSearch_LupaSearchPlugin_AttributeSaveAfter" instance="LupaSearch\LupaSearchPlugin\Observer\AttributeSaveAfter"/>
    </event>
    <event name="lupasearch_reindex_before">
        <observer name="LupaSearch_LupaSearchPlugin_ReindexBefore" instance="LupaSearch\LupaSearchPlugin\Observer\ReindexBefore"/>
    </event>
    <event name="lupasearch_reindex_after">
        <observer name="LupaSearch_LupaSearchPlugin_ReindexAfter" instance="LupaSearch\LupaSearchPlugin\Observer\ReindexAfter"/>
    </event>
    <event name="lupasearch_partial_reindex_before">
        <observer name="LupaSearch_LupaSearchPlugin_ReindexBefore" instance="LupaSearch\LupaSearchPlugin\Observer\PartialReindexBefore"/>
    </event>
    <event name="lupasearch_partial_reindex_after">
        <observer name="LupaSearch_LupaSearchPlugin_ReindexAfter" instance="LupaSearch\LupaSearchPlugin\Observer\PartialReindexAfter"/>
    </event>
</config>
